init-author-name=Frontegg LTD
init-author-email=hello@frontegg.com
init-author-url=https://frontegg.com
init-license=MIT
always-auth=true
registry=https://registry.npmjs.org
_authToken=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
@frontegg:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=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
